@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* .box::before{
        @apply content-[''] absolute bg-[conic-gradient(#348ceb_20deg,transparent_120deg)] w-[500px] h-[400px] left-[-10%] top-[-360%] animate-fullSpin
    }

    .box::after{
        @apply content-[''] text-white w-[90%] h-[90%] bg-[red] absolute top-[5%] left-[3%] flex justify-center items-center uppercase
    } */

    .navCustom{
        @apply hover:text-orange-700 relative duration-300 cursor-pointer
    }

    .navCustom::after{
        @apply absolute content-[''] bg-red-500 h-[3px] w-[0] left-0 -bottom-1 rounded-xl duration-300
    }

    .navCustom:hover::after{
        @apply w-[100%]
    }

    .sliderUp{
        animation: sliderUp 3s ease-in-out 0s infinite normal none;
    }

    .sliderX{
        animation: sliderX 3s ease-in-out 0s infinite normal none;
    }

    .colores{
        @apply text-orange-700 relative duration-300 cursor-pointer
    }

    .colores::after{
        @apply absolute content-[''] bg-red-500 h-[3px] w-[0] left-0 -bottom-1 rounded-xl duration-300
    }

    .colores:after{
        @apply w-[100%]
    }

    .loader{
        @apply w-full h-screen z-10 fixed top-0 left-0 bg-black flex justify-center items-center
    }
}

@keyframes sliderUp {
    0%{
        transform: translateY(10px);
    }

    25%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(10px);
    }

    75%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
}

@keyframes sliderX {
    0%{
        transform:  translateX(5px) translateY(10px);
    }
    25%{
        transform: translateX(10px) translateY(0);
    }

    50%{
        transform: translateX(15px) translateY(10px);
    }

    75%{
        transform: translateX(5px) translateY(0);
    }

    100%{
        transform: translateX(10px) translateY(10px);
    }

}



